/* Reset some basic elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Basic body styling */
body {
	font-family: Arial, sans-serif;
	background-color: burlywood;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 20px;
}

.img2 {
	max-width: 35%;
	height: auto;
	display: block;
	margin-top: 25%;
	margin-left: 30%;
	margin-bottom: 5%;
}

form {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	width: 100%;
	max-height: 95vh;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

label {
	flex: 1 1 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

select,
textarea,
button {
	flex: 1 1 48%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-bottom: 20px;
}

/* Full width elements */
textarea {
	flex: 1 1 100%;
}

/* Button specific styling */
button {
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	margin-top: 1px;
	height: 50px;
	flex: 1 1 100%;
}

button:hover {
	background-color: #0056b3;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

/* Ensure additional comments span both columns */
textarea {
	flex: 1 1 100%;
}

/* Add some spacing between form groups */
.form-group {
	margin-bottom: 20px;
}
/* Media query for smaller screens */
@media (max-width: 1200px) {
	body {
		display: grid;
		grid-template-rows: 2;
	}
	img {
		max-width: 95%;
		margin-top: -20%;
		padding-bottom: 25%;
	}
}
